[submodule "3rdparty/cereal"]
	path = 3rdparty/cereal
	url = https://github.com/flowdriveai/cereal.git
[submodule "3rdparty/opendbc"]
	path = 3rdparty/opendbc
	url = https://github.com/flowdriveai/opendbc.git
